body {
    font-family: 'PT Sans', sans-serif;
    background: url(data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wCEAAkGBw8PDw8PDw0PDw8PDQ0NDw8PDw8NDQ8NFREWFhURFRUYHSggGBolGxUVITEhJSkrLi4uFx8zODMtNygtLisBCgoKDQ0NDg0NDisZFRkrKzcrNysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrK//AABEIAOEA4QMBIgACEQEDEQH/xAAWAAEBAQAAAAAAAAAAAAAAAAAAAQf/xAAWEAEBAQAAAAAAAAAAAAAAAAAAEQH/xAAVAQEBAAAAAAAAAAAAAAAAAAAAAf/EABQRAQAAAAAAAAAAAAAAAAAAAAD/2gAMAwEAAhEDEQA/AMPAAAAAAAAAAAAAAAAAAAAAAAAAAEUAQBQAAAAAAAAAAADAAAAA0AAAAAAAAEUAAAAAANAAAAAAgAAAAAAAAAAAAAAAAAIAACgAAAAAAAAAAAAAFAAAAAANAAAAAAAAAAAAAAAAAAAAAAAAAAAFiAAAAAAAIoAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAqAAAAAAAAAAAAAAAAIAoICgAAAAAAAAAAAAAYAAAAAAAAAAACAAoAAAAAAAAAAAAaAAAAAAAAAAAAAIKAAAAAAAAAAAAABgAqKACCpoAAAAAEAAAAAAIAAAAAAAAAAAAAAUAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABFAAABFAAAAAAAAAAAAAAABAUAAAAAAAAAAAEVAAAFAABAUEBRAFRUBRAFAoAgCiKAAACAoICgUBAAFAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAH/2Q==)
}

#menu {
    width: 35px;
    height: 30px;
    margin: 30px 0 20px 20px;
    cursor: pointer;
}

.bar {
    height: 5px;
    width: 100%;
    background-color: #420400;
    display: block;
    border-radius: 5px;
    transition: 0.3s ease;
}

#bar1 {
    transform: translateY(-4px);
}

#bar3 {
    transform: translateY(4px);
}

.nav {
    list-style: none;
    margin: 0 20px;
    transition: 0.3s ease;
    display: none;
}

.nav li {
    list-style: none;
    padding: 16px 0;
    color: #FFFF;
    text-decoration: none;
}

.nav li h1 {
    font-size: 120%;
}

.nav li a {
    color: #FFFF;
    text-decoration: none;
    font-size: 120%;
}

.nav li a :hover {
    font-weight: bold;
}

.menu-bg,
#menu-bar {
    top: 0;
    left: 0;
    position: absolute;
}

.menu-bg {
    z-index: 1;
    height: 0;
    width: 0;
    background: radial-gradient(circle, #597081, #3E6559);
    transition: 00.3s ease;
    border-radius: 50%;
    margin: 30px 0 20px 20px;
}

#menu-bar {
    z-index: 2;
    float: right;
}

.change-bg {
    width: 760px;
    height: 800px;
    transform: translate(-60%, -30%);
}

.change {
    display: block;
}

.change .bar {
    background-color: #000;
}

.change #bar1 {
    transform: translateY(4px) rotateZ(-45deg);
}

.change #bar3 {
    transform: translateY(-6px) rotateZ(45deg);
}

.change #bar2 {
    opacity: 0;
}

.search-box {
    position: absolute;
    top: 5%;
    margin-left: 70%;
    margin-right: 10%;
    transform: translate(-50%, -50%);
    background: #3E6559;
    height: 40px;
    border-radius: 40px;
    padding: 10px;
}

.search-box:hover>.search-txt {
    width: 180px;
    padding: 0 6px;
}

.search-box:hover>.search-btn {
    background: #597081;
}

.search-btn {
    text-decoration: none;
    color: #FFFF;
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #420400;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}

.search-txt {
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: #FFFF;
    font-size: 80%;
    transition: 0.4s;
    line-height: 40px;
}